@model Cole.Web.Data.Entities.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Información del Alumno</h2>

<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persona_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellido_Paterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellido_Paterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellido_Materno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellido_Materno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clave_Familia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clave_Familia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nivel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-success">Regresar</a>
</div>
