@model IEnumerable<Cole.Web.Data.Entities.Tutor>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persona_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave_Familia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido_Paterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido_Materno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parentesco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor_Principal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Persona_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave_Familia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_Paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_Materno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parentesco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor_Principal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
